@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align:center">SOCIAL NETWORK ANALYZER</h1>
<div class="centerbox">
    <div class="main-form-container">
        <form method="post" action="~/TikTok/Index" class="search-field">
            <input type="text" name="name" placeholder="Пошук"/>
            <input class ="search-button" type="submit" value="Пошук"/>
        </form>
    </div>
</div>