@{
    ViewData["Title"] = "Home Page";
}
<div class="center">
    <h1>Social Network Analyzer</h1>
</div>
<div class="centerbox">
    <div class="main-form-container">
        <form method="post" action="~/TikTok/Index" class="search-field">
            <input type="text" name="name" placeholder="Пошук"/>
            <input class ="search-button btn-outline-dark" type="submit" value="Пошук"/>
        </form> 
    </div>
</div>