@model SocialNetworkAnalyzer.Models.InstagramUser
<div style="width:100%">
    <div style="float: left">
        <img src="@Model.userImg" class="box-160-280 rounded-circle img-thumbnail" />
    </div>
    <div style="float: left">
        <h1>@@@Model.userName</h1>
        <h7>@Model.userDescription</h7>
    </div>
</div>
<div>
    <table>
        <tr> Followers:@Model.userFollowers</tr>
    </table>
</div>

